# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
.DS_Store
*.js.map
.env
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
dist
test-vault/
main.js
styles.css

# Локальная конфигурация Obsidian
docs/.obsidian/
