.workspace-leaf-content[data-type="kanban"] .view-content {
  padding: 0;
  overflow: hidden;
}

.kanban-plugin {
  --lane-width: 272px;
}

.kanban-plugin {
  background-color: var(--background-secondary-alt);
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.kanban-plugin button {
  line-height: 1;
  padding: 10px 12px;
  margin: 0;
  transition: 100ms color, 100ms background-color;
}

.kanban-plugin__icon {
  display: inline-block;
  line-height: 1;
}

.kanban-plugin__icon > svg {
  width: 1em;
  height: 1em;
}

.kanban-plugin__board {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  overflow: hidden;
}

.kanban-plugin__lane {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  width: var(--lane-width);
  border-radius: 6px;
  margin-right: 10px;
  flex-shrink: 0;
  border: 1px solid var(--background-modifier-border);
  max-height: 100%;
}

.kanban-plugin__lane button {
  padding: 8px 10px;
}

.kanban-plugin__lane-button-wrapper {
  width: var(--lane-width);
  flex-shrink: 0;
}

.kanban-plugin__lane-input-wrapper {
  padding: 10px;
}

.kanban-plugin__lane-input-wrapper input {
  font-size: 0.875rem;
  width: 100%;
}

.kanban-plugin__item-input-actions,
.kanban-plugin__lane-input-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 10px;
}

.kanban-plugin__item-input-actions button,
.kanban-plugin__lane-input-actions button {
  display: block;
  margin-right: 5px;
}

.kanban-plugin__item-action-add,
.kanban-plugin__lane-action-add {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}

.kanban-plugin__item-action-add:hover,
.kanban-plugin__lane-action-add:hover {
  background-color: var(--interactive-accent-hover);
}

.kanban-plugin__lane-button-wrapper > button {
  width: 100%;
  text-align: left;
  margin: 1px;
}

.kanban-plugin__lane-button-wrapper > button:hover {
  background-color: var(--interactive-accent-hover);
  color: var(--text-on-accent);
}

.kanban-plugin__lane-header-wrapper {
  margin-bottom: 10px;
  padding: 10px 11px 0;
  display: flex;
  align-items: center;
}

.kanban-plugin__lane-grip {
  flex-grow: 0;
  margin-right: 5px;
  color: var(--text-faint);
}

.kanban-plugin__lane-grip > svg {
  display: block;
  height: 1rem;
}

.kanban-plugin__lane-title {
  font-weight: 600;
  font-size: 0.875rem;
  flex-grow: 1;
}

.kanban-plugin__lane button.kanban-plugin__lane-settings-button {
  font-size: 13px;
  line-height: 1;
  color: var(--text-muted);
  padding: 5px;
  display: flex;
  margin-left: 5px;
}

.kanban-plugin__lane button.kanban-plugin__lane-settings-button.is-enabled,
.kanban-plugin__lane button.kanban-plugin__lane-settings-button:hover {
  background-color: var(--interactive-accent-hover);
  color: var(--text-on-accent);
}

.kanban-plugin__lane-settings-button .kanban-plugin__icon {
  display: flex;
}

.kanban-plugin__lane-settings-button svg {
  width: 1em;
  height: 1em;
}

input.kanban-plugin__lane-input {
  font-size: 0.875rem;
  width: 100%;
  padding: 5px 7px;
  height: auto;
}

.kanban-plugin__lane-items {
  transition: 150ms background-color ease-in-out;
  padding: 4px;
  margin: 4px;
  border-radius: 6px;
  max-height: 100%;
  overflow-y: auto;
}

.kanban-plugin__lane-items[data-is-dragging-over="true"] {
  background-color: rgba(var(--interactive-accent-rgb), 0.15);
}

.kanban-plugin__item-button-wrapper {
  border-top: 1px solid var(--background-modifier-border);
  padding: 10px;
}

.kanban-plugin__item-button-wrapper > button {
  text-align: left;
  width: 100%;
}

.kanban-plugin__item-input-wrapper {
  border-top: 1px solid var(--background-modifier-border);
  padding: 10px;
  display: flex;
}

.kanban-plugin__new-item-button:hover {
  color: var(--text-on-accent);
  background-color: var(--interactive-accent-hover);
}

.kanban-plugin input.kanban-plugin__item-input {
  font-size: 0.875rem;
  width: 100%;
  flex-grow: 1;
}

.kanban-plugin__item {
  font-size: 0.875rem;
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  padding: 6px 8px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.kanban-plugin__item[data-is-dragging="true"] {
  border-color: var(--interactive-accent);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2),
    0 0 0 2px rgba(var(--interactive-accent-rgb), 0.8);
}

.kanban-plugin__checkbox-wrapper {
  border-top: 1px solid var(--background-modifier-border);
  border-bottom: 1px solid var(--background-modifier-border);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.kanban-plugin__checkbox-wrapper .checkbox-container {
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 15px;
}

.kanban-plugin__checkbox-label {
  font-size: 0.8125rem;
  line-height: 1.4;
}

.kanban-plugin__lane-setting-wrapper > div {
  border-top: none;
  border-bottom: none;
  padding: 10px 15px;
  margin-bottom: 0;
}

.kanban-plugin__lane-setting-wrapper > div:last-child {
  border-bottom: 1px solid var(--background-modifier-border);
  margin-bottom: 10px;
}

.kanban-plugin__delete-confirm-wrapper {
  border: 1px solid rgba(var(--background-modifier-error-rgb), 0.2);
  background-color: rgba(var(--background-modifier-error-rgb), 0.1);
  border-radius: 4px;
  padding: 10px;
}

.kanban-plugin__delete-lane-button {
  font-size: 0.75rem;
  border: 1px solid rgba(var(--background-modifier-error-rgb), 0.15);
  color: rgba(var(--background-modifier-error-rgb), 1);
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.kanban-plugin__delete-lane-button:hover {
  background-color: rgba(var(--background-modifier-error-rgb), 0.2);
  color: var(--text-error);
}

.kanban-plugin__delete-lane-button .kanban-plugin__icon {
  margin-right: 5px;
}

.kanban-plugin__delete-confirm-text {
  font-size: 0.875rem;
  color: var(--text-error);
  margin-bottom: 10px;
  line-height: 1.4;
}

button.kanban-plugin__confirm-delete-button {
  border: 1px solid rgba(var(--background-modifier-error-rgb), 0.2);
  margin-right: 5px;
  color: var(--text-error);
}

button.kanban-plugin__confirm-delete-button:hover {
  background-color: rgba(var(--background-modifier-error-rgb), 0.5);
}

button.kanban-plugin__cancel-delete-button {
  border: 1px solid var(--background-modifier-border);
}